.sidebar-wrapper{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: #3f51b5;
    height: 100%;
    color: white;
    border-right: 5px solid rgb(36, 36, 36);
    z-index: 3;
}


.icon-toggle{
    display: flex;
    justify-content: center;
    align-items: center;;
    padding: 10px;
    font-size: 1.8em;
}


.icon-toggle i{
    font-size: 1.3em;
}

.options-container{
    width: 0px;
    transition: width 100ms linear;
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.show{
    width: 170px;
}

.new-doc{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 10px 0;
}


.new-doc *{
    margin: 0 0 10px 0;
}

.new-doc i{
    transition: transform 200ms linear;
}

.new-doc:hover i{
    transform: scale(1.5);

}

.options-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-doc:hover, .document-item:hover{
    background: #283374
}

.document-item{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

.doc-info{
    font-size: .8em;
    /* font-weight: bold; */
}

.doc-title h3, .docinfo p{
    margin: 0;
    padding: 0px;
    width: 100%;
}

.doc-title {
    display: flex;
    justify-content: flex-start;
}

.doc-input{
    box-sizing: border-box;
    padding: 5px;
    width: 100%;;
    border: none;
    outline: none;
    font-family: 'PT Sans', sans-serif;
}

.sidebar-wrapper:hover{

}