/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
html,body {
    margin: 0px;
    padding: 0;
    font-family: "poppins", sans-serif;
}

.small-text{
    font-size: .8em;
}